header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  border-bottom: 1px #efefefcf solid;
}

main {
  #hero {
    height: 100vh;
    height: 100svh;
    background-image: url("../media/showcase.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: saturate(1.5) brightness(0.5);
      z-index: 0;
    }

    h1 {
      color: #FFFCF8;
      margin: 0;
      z-index: 1;
      padding: 0 50% 0 50px;
      box-sizing: border-box;
    }
  }

  #desc {
    display: flex;

    h1 {
      margin: 0 15% 0 0;
    }
  }

  #courses {
    position: relative;
    background-color: #202020;
    background-image:
            radial-gradient(at 51% 27%, hsla(315,61%,14%,1) 0px, transparent 50%),
            radial-gradient(at 55% 32%, hsla(32,61%,14%,1) 0px, transparent 50%),
            radial-gradient(at 27% 42%, hsla(45,61%,14%,1) 0px, transparent 50%),
            radial-gradient(at 70% 72%, hsla(285,61%,14%,1) 0px, transparent 50%),
            radial-gradient(at 8% 62%, hsla(89,61%,14%,1) 0px, transparent 50%);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: saturate(1.5) brightness(1);
      z-index: 0;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
  }
}

.card {
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 300px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.card-footer {
  color: #DDD;
}