@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  height: 100%;
  height: fill-available;
  height: moz-available;
  height: -webkit-fill-available;

  font-family: 'Poppins', sans-serif;
  background-color: #202020;
  color: #FFFCF8;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.scale {
  font-size: 16px;

  @media (max-width: 480px) {
    font-size: 16px;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    font-size: 22px;
  }

  @media (min-width: 1281px) and (max-width: 1440px) {
    font-size: 24px;
  }

  @media (min-width: 1441px) {
    font-size: 26px;
  }
}

$topBottomPadding: 100px;
$leftRightPadding: 200px;

.padded {
  padding: $topBottomPadding $leftRightPadding;

  @media (max-width: 1200px) {
    padding: $topBottomPadding / 2 $leftRightPadding / 2;
  }

  @media (max-width: 768px) {
    padding: $topBottomPadding / 4 $leftRightPadding / 4;
  }
}

a {
  color: rgba(255, 252, 248, 0.9);
  text-underline-offset: 2px;
  &:hover {
    color: #FFFCF8;
    text-decoration: 1px solid underline;
  }
}

#theDeal {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 9;
  backdrop-filter: blur(5px) brightness(0.7);
}

#loginModal {
  width: 500px;
  height: 400px;
  background-color: #202020;
  border: 1px solid #101010;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px -2px #ffffff9c;

  &:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
  }

  hr {
    margin: 10px 0 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fffcf860;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    li {
      display: inline-flex;
      align-items: center;
      border-radius: 10px;

      img {
        width: 24px;
        height: 24px;
        margin: 0 16px 0 0;
        padding: 8px;
      }

      &:hover {
        background-color: #303030;
      }
    }
  }
}

.visible {
  display: flex !important;
}

.modal_open {
  overflow: hidden;
}