@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  height: fill-available;
  height: moz-available;
  height: -webkit-fill-available;
  font-family: "Poppins", sans-serif;
  background-color: #202020;
  color: #FFFCF8;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.scale {
  font-size: 16px;
}
@media (max-width: 480px) {
  .scale {
    font-size: 16px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .scale {
    font-size: 18px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .scale {
    font-size: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .scale {
    font-size: 22px;
  }
}
@media (min-width: 1281px) and (max-width: 1440px) {
  .scale {
    font-size: 24px;
  }
}
@media (min-width: 1441px) {
  .scale {
    font-size: 26px;
  }
}

.padded {
  padding: 100px 200px;
}
@media (max-width: 1200px) {
  .padded {
    padding: 50px 100px;
  }
}
@media (max-width: 768px) {
  .padded {
    padding: 25px 50px;
  }
}

a {
  color: rgba(255, 252, 248, 0.9);
  text-underline-offset: 2px;
}
a:hover {
  color: #FFFCF8;
  text-decoration: 1px solid underline;
}
